<main class="relative h-screen overflow-hidden font-mono bg-white dark:bg-gray-800">
    <header class="z-30 flex items-center w-full h-24 sm:h-32">
        <div class="container flex items-center justify-between px-6 mx-auto">
            <div class="flex items-center text-3xl font-black text-gray-800 uppercase dark:text-white">
               
            </div>
            <div class="flex items-center">
                <nav class="flex items-center text-lg text-gray-800 uppercase font-sen dark:text-white">
                    <a href="#" class="flex px-6 py-2 hover:text-black">
                        Button 1
                    </a>
                    <a href="#" class="flex px-6 py-2 hover:text-black">
                        Button 2
                    </a>
                    <a href="#" class="flex px-6 py-2 hover:text-black">
                        Button 3
                    </a>
                    <a (click)="onLogoutClick()" href="#" class="flex px-6 py-2 hover:text-black">
                        Logout
                    </a>
                </nav>
            </div>
        </div>
    </header>
    <div class="relative z-20 flex items-center">
        <div class="container relative flex flex-col items-center justify-between px-6 py-4 mx-auto">
            <div class="flex flex-col">
                TEST PAGE
            </div>
        </div>
    </div>
</main>
